@model FamilyHub.Web.ViewModels.Lists.ListsAllViewModel
@{
    this.ViewData["Title"] = "All To Do Lists.";
}

<div class="text-muted text-lg-right m-5">
    <h1 class="display-4">@DateTime.Now.ToString("f")</h1>
</div>

<div class="card-deck">
    @foreach (var list in Model.Lists)
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    <a href="@list.Url"> @list.Title</a>
                </h3>

            </div>

            <div class="card-body">
                <p class="card-text">@list.Description</p>
                <ul class="todo-list" data-widget="todo-list">
                    @foreach (var item in list.ListItems)
                    {
                        <li><span class="text">@item.Text</span></li>
                    }
                </ul>
            </div>
        </div>
    }

</div>
