@model FamilyHub.Web.ViewModels.WallPosts.PostsAllViewModel
@{
    ViewData["title"] = "Welcome to FamilyHub!";
}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form method="post">
                <div class="card mt-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="What is on your mind?">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary">Share</button>
                        </span>
                    </div>
                </div>
            </form>
            <!-- Box Comment -->
            @foreach (var post in Model.Posts)
            {
                <div class="card card-widget">
                    <div class="card-header">
                        <div class="user-block">
                            <img class="img-circle" src="@post.UserProfilePictureUrl" alt="User Image">
                            <span class="username"><a href="#">@post.UserUserName</a></span>
                            <span class="description">@post.CreatedOn.ToString("f")</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- post text -->
                        <vc:wall-posts model="post"></vc:wall-posts>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer card-comments">
                        @foreach (var comment in post.Comments)
                        {
                            <div class="card-comment">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="@comment.UserProfilePictureUrl" alt="User Image">

                                <div class="comment-text">
                                    <span class="username">
                                        @comment.UserUserName
                                        <span class="text-muted float-right">@comment.CreatedOn.ToString("f")</span>
                                    </span><!-- /.username -->
                                    @comment.Text
                                </div>
                                <!-- /.comment-text -->
                            </div>
                        }
                    </div>
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <form action="#" method="post">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="row">
                                <div class="col-11">
                                    <input type="text" class="form-control form-control-sm" placeholder="Comment...">
                                </div>
                                <div class="col-1">
                                    <button type="button" name="AddComment" class="btn btn-sm btn-primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            }
            <!--/.card -->
        </div>
        <div class="col-lg-3 col-6">
            <div class="text-muted">
                <h1 class="display-4">@DateTime.Now.ToString("D")</h1>
            </div>
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>18 °C</h3>

                    <p>Oslo, Norway</p>
                </div>
                <div class="icon">
                    <<i class="fas fa-cloud-sun-rain"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- /.col -->
    </div>
