@using FamilyHub.Common
@model FamilyHub.Web.ViewModels.Events.EventAllViewModel;
@{
    this.ViewData["Title"] = "All Events";
}

<div class="text-muted text-lg-right m-5">
    <h1 class="display-4">@DateTime.Now.ToString("D")</h1>
</div>

<div class="text-center mx-auto">
    <a asp-controller="Events" asp-action="Create" class="btn btn-dark btn-lg">Create new event!</a>
    <hr />
</div>

<div class="card-deck">
    <div class="row">
        @foreach (var planedEvent in Model.Events)
        {
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-header">
                        <h4 class="card-title"><a href="@planedEvent.Url">@planedEvent.Title</a></h4>
                    </div>
                    <div class="card-body">
                        <h3>@planedEvent.Start.ToString("f")</h3>
                    </div>
                    <div class="card-footer">
                        <p>Created by: @planedEvent.CreatorName</p>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
