@using FamilyHub.Data.Models
@using Microsoft.AspNetCore.Identity
@model FamilyHub.Web.ViewModels.Messenger.MessagesPerConversationViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = "Live Chat.";
    var userId = this.UserManager.GetUserId(this.User);
}

    <section class="content mt-3">

        <div class="card direct-chat direct-chat-primary">
            <div class="card-header">
                <h3 class="card-title">@Model.Name</h3>
            </div>


            <div class="card-body">
                <div class="direct-chat-messages">
                    @foreach (var message in Model.Messages)
                    {
                        if (userId == message.User.Id)
                        {
                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">@message.User.UserName</span>
                                    <span class="direct-chat-timestamp float-left">@message.CreatedOn</span>
                                </div>
                                <!-- /.direct-chat-infos -->
                                <img class="direct-chat-img" src="@message.User.ProfilePictureUrl" alt="message user image">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    @message.Text
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                        }
                        else
                        {
                            <div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">@message.User.UserName</span>
                                    <span class="direct-chat-timestamp float-right">@message.CreatedOn</span>
                                </div>
                                <!-- /.direct-chat-infos -->
                                <img class="direct-chat-img" src="@message.User.ProfilePictureUrl" alt="message user image">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    @message.Text
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                        }
                    }

                </div>
            </div>

            <div class="card-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary">Send</button>
                        </span>
                    </div>
                </form>
            </div>

        </div>

    </section>