@using FamilyHub.Data.Models
@using Microsoft.AspNetCore.Identity
@model FamilyHub.Web.ViewModels.Messenger.MessagesPerConversationViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = "Live Chat.";
    var userId = this.UserManager.GetUserId(this.User);
}

<div class="content mt-3">

    <div class="card direct-chat direct-chat-primary" >
        <div class="card-header">
            <h3 class="card-title">@this.ViewData["Title"]</h3>
        </div>


        <div class="card-body">
            <div class="direct-chat-messages">

                @foreach (var message in Model.Messages)
                {
                    if (userId == message.User.Id)
                    {
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-right">@message.User.UserName</span>
                                <span class="direct-chat-timestamp float-left">@message.CreatedOn</span>
                            </div>

                            <img class="direct-chat-img" src="@message.User.ProfilePictureUrl" alt="message user image">

                            <div class="direct-chat-text">
                                @message.Text
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="direct-chat-msg">
                            <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">@message.User.UserName</span>
                                <span class="direct-chat-timestamp float-right">@message.CreatedOn</span>
                            </div>

                            <img class="direct-chat-img" src="@message.User.ProfilePictureUrl" alt="message user image">

                            <div class="direct-chat-text">
                                @message.Text
                            </div>

                        </div>
                    }
                }
                
                <div id="messagesList">

                </div>

            </div>
        </div>

        <div class="card-footer">

                <div class="input-group" id="message-holder">
                    <input type="text" name="message" id="messageInput" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                        <button type="button" id="sendButton" class="btn btn-primary">Send</button>
                    </span>
                </div>

        </div>

    </div>

</div>

@section Scripts {
    <script>


        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/Messenger/Message")
                .build();

        connection.on("NewMessage",
            function(message) {
                var chatInfo = 
                `<div class="direct-chat-msg"><div class="direct-chat-infos clearfix"><span class="direct-chat-name float-left">${
                    message.userUserName}</span><span class="direct-chat-timestamp float-right">${message.createdOn
                    }</span></div><img class="direct-chat-img" src="${message.userProfilePictureUrl
                    }" alt="message user image"><div class="direct-chat-text"> ${message.text} </div></div>`;

                $("#messagesList").append(chatInfo);
            });

        $("#sendButton").click(function() {
            var message = $("#messageInput").val();
            connection.invoke("Send", message);
        });
        connection.start().catch(function(err) {
            return console.error(err.toString());
        });

    </script>
}