@model FamilyHub.Web.ViewModels.PhotoAlbums.PhotoAlbumsAllViewModel
@{
    this.ViewData["Title"] = "All Photo Albums.";
}

<div class="text-muted text-lg-right m-5">
    <h1 class="display-4">@DateTime.Now.ToString("D")</h1>
</div>

<section class="content mt-3">
    <div class="card-deck">
        @foreach (var album in Model.Albums)
        {
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <a href="@album.Url"> @album.Title</a>
                    </h3>
                </div>

                <div class="card-body">
                    <p>@album.Description</p>
                </div>

                <div class="card-footer">
                    <p>Created by: @album.UserUserName on @album.CreatedOn.ToString("f")</p>
                </div>
            </div>
        }

    </div>
</section>
