@using FamilyHub.Data.Models
@using Microsoft.AspNetCore.Identity
@model FamilyHub.Web.ViewModels.PhotoAlbums.PhotoAlbumsByNameViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = $"Album - {Model.Title}";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            @Model.Title
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var picture in Model.Pictures)
                            {
                                <div class="col-sm-2">
                                    <a href="@picture.Url" data-toggle="lightbox" data-title="@Model.Title" data-gallery="gallery">
                                        <img src="@picture.ThumbUrl" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer">

                        <form asp-controller="Photos" asp-action="UploadPicture" enctype="multipart/form-data" id="form" method="post">
                            <div class="row">
                                <div class="col-4">
                                    <input type="hidden" name="AlbumId" value="@Model.Id" />
                                    <input type="hidden" name="AlbumName" value="@Model.Title" />
                                    <input type="file" name="File" id="File" />
                                </div>
                                <div class="col-4">
                                    <input type="submit" name="AddPicture" class="btn btn-primary" value="Upload" />
                                </div>
                            </div>
                        </form>

                        @if (this.UserManager.GetUserId(this.User) == Model.UserId)
                        {
                            <form asp-controller="Photos" asp-action="DeleteAlbum" method="post">
                                <div class="m-auto">
                                    <input type="hidden" name="AlbumId" value="@Model.Id" />
                                    <input type="submit" name="DeleteAlbum" class="btn btn-danger" value="Delete album" />
                                </div>
                            </form>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts
{
    <!-- Ekko Lightbox -->
    <script src="~/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>

    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

            $('.filter-container').filterizr({ gutterPixels: 3 });
            $('.btn[data-filter]').on('click', function () {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })
    </script>
}
